.cardContainer {
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 350px;
    cursor: pointer;
}

.cardContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cardImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cardTitle {
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    max-height: 80px;
}

.titleText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
