.toaster {
    position: fixed;
    top: 40px;
    right: 140px;
    z-index: 1000;
}

.toast {
    background-color: darkred;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
