.container {
    color: #ccc;
    background-color: #222;
    padding: 20px;
    max-width: 1280px;
    margin: auto;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.skeletonTitle, .skeletonPoster, .skeletonText, .skeletonReview {
    background-color: #333;
    animation: pulse 1.5s infinite ease-in-out;
    border-radius: 4px;
}

.skeletonTitle {
    height: 32px;
    width: 70%;
    margin-bottom: 20px;
}

.skeletonPoster {
    width: 100%;
    height: 300px;
    max-width: 500px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skeletonText {
    height: 20px;
    width: 90%;
    margin-bottom: 10px;
}

.skeletonReview {
    height: 50px;
    width: 90%;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
    }

    .skeletonPoster {
        flex-basis: 40%;
        max-width: 40%;
    }

    .details {
        flex-basis: 58%;
        padding: 0 20px;
    }

    .skeletonText, .skeletonReview {
        width: 100%;
    }
}
