.container {
    color: #E0E0E0;
    background-color: #1e1e1e;
    padding: 20px;
    max-width: 1280px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.poster {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.poster:hover {
    transform: scale(1.05);
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.actors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 5px;
    margin-top: 20px;
}

.actorItem {
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        align-items: flex-start;
    }

    .details {
        padding: 0 20px;
        max-width: 800px;
    }
}

h1, h3 {
    margin: 20px 0;
    color: #a89217;
}

p, li {
    font-size: 18px;
    line-height: 1.6;
    color: #CCCCCC;
}

ul {
    list-style-type: none;
    padding: 0;
}

.reviews {
    margin-top: 20px;
}

.review {
    background-color: #333333;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.keywords li {
    display: inline-block;
    background-color: #ad0733;
    color: white;
    padding: 8px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 16px;
}
