.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #1e1e1e;
    color: white;
    min-height: 90vh;
}