.skeletonStyle {
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    margin: 10px;
    background-color: #2a2a2a;
}

.animatedBackground {
    height: 300px;
    background: linear-gradient(90deg, #1a1a1a, #333, #1a1a1a);
    background-size: 200% 100%;
    animation: slide 1.5s linear infinite;
}

.textBlock {
    padding: 8px;
    background: #1a1a1a;
}

.textLine {
    width: 100%;
    height: 20px;
    background-color: #333;
    margin-bottom: 5px;
}
.w80 {
    width: 80%;
}
@keyframes slide {
    from { background-position: 100% 50%; }
    to { background-position: 0% 50%; }
}