.noResults {
    text-align: center;
    font-size: 20px;
    color: #666;
    padding: 20px;
}

.searchResultsContainer{

}
.fixedTitle {
    position: sticky;
    top: 0;
    background: #282c34;
    height: 80px;
    z-index: 10;
    margin: 0;
    place-content: center;
}