.header {
    display: flex;
    align-items: center;
    background-color: #282c34;
    padding: 10px 20px;
    color: white;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.searchForm {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.searchInput {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.searchInput:focus {
    border-color: #80bdff;
}

.searchButton {
    padding: 8px 16px;
    background-color: #406996;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.searchButton:hover {
    background-color: #0056b3;
}
